DTD/letters.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--                                                   -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<!-- Project: T.S. Eliot as a Family Man               -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<!--                                                   -->
<!-- Project lead: (anonymised for assessment)         -->
<!-- with the guidance of Dr Simon Mahony              -->
<!--                                                   -->
<!-- part of INSTG037, MSc in DH, 2017/18.             -->
<!--                                                   -->
<!-- filename:                                         -->
<!--     letters.dtd                                   -->
<!--                                                   -->
<!-- description:                                      -->
<!--     setting up the DTD for letters.xml            -->
<!--     used to generate each <letter>                -->
<!--                                                   -->
<!-- convention:                                       -->
<!--     I generally favor readability over concision  -->
<!--     hence e.g. source/source-archive-id           -->
<!--                rather than source/archive-id      -->
<!--                                                   -->
<!-- arbitrary conventions:                            -->
<!--     For some reason I don't like the spaces       -->
<!--      before > automatically generated by Oxygen   -->
<!--      Ergo I got rid all of them                   -->
<!--     But I love spaces surrounding | :)            -->
<!--                                                   -->
<!-- reminder:                                         -->
<!--     Some elements like notes and page breaks can  -->
<!--     be anywhere, so think twice when you have     -->
<!--     only (#PCDATA) for an element definition.     -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<!--                                                   -->

<!-- SOME TO-DO/TO-THINK                               -->

<!-- To do: use parameter entities to split this (growing) dtd up -->
<!-- <!ENTITY % info SYSTEM "import/info.dtd"> -->

<!-- It's possible to use entity to separate long body texts from letters.xml -->
<!-- might consider taking advantage of it in the future so we won't end up   -->
<!-- having a gigantic letter.xml - although now Oxygen can collapse things   -->
<!-- very easily.                                                             -->
<!-- <!ENTITY letter-1-text SYSTEM "../XML/import/letter-1-text.xml"> -->

<!-- STARTS HERE                                      -->

<!-- root element -->
<!ELEMENT letters (letter+)> 

<!-- defining document strucutre: individual letter -->
<!ELEMENT letter (info, body)>
<!ATTLIST letter id CDATA #REQUIRED
                 language CDATA #REQUIRED>

<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<!-- defining major document strucutre: letter/info -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<!ELEMENT info (tse-age, output-title-prefix, recipient, date, source, address)>

<!ELEMENT tse-age (#PCDATA)>
<!ELEMENT output-title-prefix (#PCDATA)>

<!ELEMENT recipient (#PCDATA | note)*>
<!ATTLIST recipient recipient-id CDATA #REQUIRED>

<!-- Some letters have dates that look like:  -->
<!-- [Recieved 17 April 1924]  -->
<!ELEMENT date (#PCDATA | year| month | day)*>
<!ATTLIST date type CDATA #IMPLIED>
<!ELEMENT year (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT day (#PCDATA)>

<!ELEMENT source (source-archive-id, source-archive-status, source-archive-name, source-book-id, source-book-title, source-book-page-no)>
<!ELEMENT source-archive-id (#PCDATA)>
<!ELEMENT source-archive-status (#PCDATA)>
<!ELEMENT source-archive-name (#PCDATA)>
<!ELEMENT source-book-id (#PCDATA)>
<!ELEMENT source-book-title (#PCDATA | title)*>
<!ELEMENT source-book-page-no (source-book-page-no-start, source-book-page-no-end)>
<!ELEMENT source-book-page-no-start (#PCDATA)>
<!ELEMENT source-book-page-no-end (#PCDATA)>

<!-- Many addresses are supplied by the editor of my source material,            -->
<!-- and they can be complete ones including street number and postcode etc.     -->
<!-- or rather vague ones like [London], hence the type definitions that follow. -->
<!ELEMENT address (#PCDATA | address-line | town | city | postcode | title)*>
<!ATTLIST address type CDATA #IMPLIED>
<!ELEMENT address-line (#PCDATA)>
<!ELEMENT town (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>



<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<!-- defining major document strucutre: letter/body -->
<!-- xxxxxxxxxxxxxxxxxxxxxvvvvvvvxxxxxxxxxxxxxxxxxxx -->

<!ELEMENT body (greeting | para | table | quote | closer | note | postscript | page-break)*>

<!ELEMENT greeting (greeting-text, greeting-name, greeting-punct*)>
<!ELEMENT greeting-text (#PCDATA)>
<!ELEMENT greeting-name (#PCDATA)>
<!ELEMENT greeting-punct (#PCDATA)>

<!ELEMENT para (#PCDATA | quote | list | table | link | note | emphasis | title | page-break)*>
<!ATTLIST para first CDATA #IMPLIED 
               last CDATA #IMPLIED>

<!ELEMENT quote (#PCDATA | quote | person-name | place-name | list | table | link | note | emphasis | title | page-break)*>
<!ATTLIST quote type CDATA #REQUIRED>

<!ELEMENT person-name (#PCDATA)>
<!ELEMENT place-name (#PCDATA)>

<!ELEMENT closer (#PCDATA | closer-text | closer-name)*>
<!ELEMENT closer-text (#PCDATA | link | note)*>
<!ELEMENT closer-name (#PCDATA | link | note)*>

<!ELEMENT postscript (#PCDATA | quote | list | table | link | note | emphasis | title | page-break)*>

<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->
<!-- defining commonly used elements -->
<!-- vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv -->


<!ELEMENT note (#PCDATA | link | title | emphasis | page-break)*>
<!ATTLIST note n CDATA #REQUIRED
               type CDATA #IMPLIED>

<!ELEMENT table (row+)>
<!ELEMENT row (column+)>
<!ELEMENT column (#PCDATA | link | note | emphasis | title | page-break)*>

<!ELEMENT list (item+)>
<!ATTLIST list type CDATA #REQUIRED>
<!ELEMENT item (#PCDATA | link | note | emphasis | title | page-break)*>



<!-- Those can be everywhere -->

<!ELEMENT link (#PCDATA)>
<!ATTLIST link to CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ATTLIST title type CDATA #IMPLIED>

<!ELEMENT emphasis (#PCDATA)>

<!ELEMENT page-break EMPTY>
<!ATTLIST page-break pn CDATA #REQUIRED>